################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.dwlt
Front_End/AiChessSprint1/ActionLog.txt